*, *:before, *:after {
	box-sizing: border-box;
}

body {
	background-color: red;
}

header:first-of-type {
	display: block;
}

header:last-of-type {
	display: none;
}

header {
	nav {
		ul {
			&:before, &:after {
				content: "";
				display: block;
				clear: both;
			}
			li {
				display: inline-block;
				float: left;
				width: 25%;
			}
		}
	}
}

main {
	section:first-of-type {
		background-image: url(../img/rsi.jpg);
		background-size: cover;
		background-position: center;
		div:first-child {
			width: 25%;
			background-color: hsla(0, 0, 0, .5);
			color: white;
		}
		div:last-child {
			width: 75%;
		}
	}
	section {
		div {
			width: 33.3333%;
			float: left;
			padding: 10px;
		}
	}
	section:last-of-type {
		div {
			width: 50%;
		}
	}
	section:before, section:after {
		content: "";
		display: block;
		clear: both;
	}
}



@media screen and (min-width: 500px) and (max-width: 756px) {
	header:first-of-type {
		display: none;
	}
	header:last-of-type {
		display: block;
	}
	main {
		section:first-of-type {
			div:first-child {
				width: 75%;
			}
			div:last-child {
				width: 25%;
			}
		}
		section {
			div:first-child, div:last-child {
				width: 20%;
			}
			div {
				width: 60%;
			}
		}
		section:last-of-type {
			div:first-child {
				width: 25%;
			}
			div:last-child {
				width: 75%;
			}
		}
	}
}

@media screen and (max-width: 500px){
	header {
		nav {
			ul {
				li {
					display: block;
					width: 100%;
					text-align: center;
					padding: 10px 0;
				}
			}
		}
	}
	section {
		div {
			width: 100% !important
		}
	}
	.no-phone {
		display: none;
	}
}
